@model IEnumerable<ClinicAppointmentSystem.Models.Appointment>

@{
    ViewData["Title"] = "My Appointments";
}

<h2 class="mb-4">My Appointments</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Doctor</th>
            <th>Specialization</th>
            <th>Date & Time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Doctor.Name</td>
                <td>@a.Doctor.Specialization</td>
                <td>@a.DateTime.ToString("dd MMM yyyy, hh:mm tt")</td>
                <td>
                    @a.Status
                </td>
            </tr>
        }
    </tbody>
</table>
